/* Base Styles */
html {
    
    font-size: 14px;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 15px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 20px;
    color: #444;
    background: #fff;
    background-image: radial-gradient(100% 100% at center, #fff, #797979);
}

/* Layout */
.uk-container {
    margin: auto;
    box-sizing: border-box;
    max-width: 1440px;
    padding: 25px;
}

.uk-grid {
    margin: auto;
    padding: 0;
    list-style: none;
}

.uk-grid>[class*='uk-width-'] {
    margin: auto;
    padding: auto;
    float: left;
}

[class*='uk-width-'] {
    box-sizing: border-box;
    width: 100%;
}

@media (min-width: 768px) {
    .uk-width-medium-1-4 {
        width: 25%;
        
    }
    .uk-width-medium-3-4 {
        width: 75%;
    }
}

/* Navigation */
#navigation ul.uk-nav {
    padding: 15px 0;
}

.uk-nav,
.uk-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Content Grid */
.content-grid {
    display: flex;
    flex-wrap: wrap;
}

.factsheet {
    flex: 1;
    min-width: auto;
}

.details {
    flex: 3;
    padding-left: 25px;
}

.description, .history {
    margin-bottom: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-grid {
        flex-direction: column;
    }
    
    .factsheet {
        border-right: none;
        border-bottom: 2px solid #ddd;
    }
}

/* Alerts */
.uk-alert {
    margin-bottom: 15px;
    padding: 10px;
    background: #ebf7fd;
    color: #2d7091;
    border: 1px solid rgba(45, 112, 145, 0.3);
    border-radius: 4px;
    text-shadow: 0 1px 0 #fff;
}


/* Iframe Container */
.iframe-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Images */
/* Define o layout da grade */
.image-grid {
    display: grid;
    gap: 10px; /* Espaço entre as imagens */
    width: 100%; /* Ajusta a largura da grade para a largura do contêiner pai */
    box-sizing: border-box; /* Inclui padding e border na largura e altura total */
    display:ruby;
}

/* Ajusta as imagens para preencher o contêiner da célula da grade */
.image-item {
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
}

.image-item img {
    width: 100%; /* Faz com que a imagem preencha a largura do item da grade */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    max-height: 100%; /* Garante que a imagem não ultrapasse o contêiner */
    object-fit: contain; /* Faz com que a imagem se ajuste ao contêiner sem distorção */
}